<div id='join-game-form'>
  <div class='modal-message'>
    Join game created by <span id='challenged-player' class='notice-highlight'></span>?
  </div>

  <div class='centered-buttons'>
    <%= button_tag "Ok", { type: 'button', class: 'ok-button' } %>
    <%= button_tag "Cancel", { type: 'button', class: 'cancel-button' } %>
  </div>
</div>
