<div id='notification-container'>
  <div class='modal-message'>
    <% lines_of_content.each_with_index do |content_line, index| %>
      <% if index > 0 %><br><% end %>
      <%= content_line.html_safe %>
    <% end %>
  </div>

  <%= button_tag "Ok", { type: 'button', class: 'ok-button' } %>
</div>
