<div class='modal-message'>
  Are you sure you want to resign? Your opponent will be declared the winner.
</div>

<div class='centered-buttons'>
  <%= button_tag "Yes", { type: 'button', class: 'yes-button' } %>
  <%= button_tag "Cancel", { type: 'button', class: 'cancel-button' } %>
</div>
