<div class='modal-message'>
  The game has entered the scoring phase.
  Please identify which stone groups are dead by clicking on them.
  You can mark a stone group as alive by clicking on it while holding the
    <code>CTRL</code> key.
  When finished, press the 'Done' button.
</div>

<%= button_tag "Ok", { type: 'button', class: 'ok-button' } %>
