<% if tile.on_left_side? %>
  <tr>
<% end %>

<td>
  <%= content_tag :div, id: "tile-#{tile.pos}", :class => tile.container_classes, "data-board-pos" => tile.pos do %>
    <%= image_tag(tile.display_image_path, { alt: tile.alt_text, class: "tile-image" }) %>
    <% if tile.has_preview_stone? %>
      <%= image_tag(tile.preview_stone_path, { alt: "preview stone", class: "hover-image" }) %>
    <% end %>
  <% end %>
</td>

<% if tile.on_right_side? %>
  </tr>
<% end %>
