
<div id='game_container'>

  <div id='header_container'>
    <h1>Game in progress:
      <%= @game.black_player.username %> vs.
      <%= @game.white_player.username %>!
    </h1>
  </div>

  <div id='board_container'>
    <%= form_tag({:action => :update_board}, { :id => 'board-form' }) do %>
      <table class='board-table'>
        <%=
          render(partial: 'games/tile', collection: @tiles, locals: {
            board_size: @game.board_size,
            player_color: @game.color(current_user).to_s,
            tile_size: tile_pixel_size,
            opponents_turn: (current_user != @game.active_player)
          })
        %>
      </table>
    <% end %>
  </div>

</div>
