<%= render "layouts/back_to_games_list" %>

<div id='game_container'>

  <div id='header_container'>
    <%= render 'game_stats', game: @game, status_details: @status_details, active_color: @active_player_color %>
  </div>

  <div id='board_container'>
    <%= form_tag({ :action => :update }, { :id => 'board-form' }) do %>
      <table class='board-table'>
        <%= render partial: 'games/tile', collection: @tiles %>
      </table>
    <% end %>
  </div>

</div>
